{% extends 'tienda/base.html' %}

{% block extra_css %}
<style>
  .carrito-container {
    max-width: 800px;
    margin: auto;
  }

  .carrito-item {
    background: var(--blanco);
    border-radius: var(--radio-lg);
    box-shadow: var(--sombra);
    padding: 20px;
    margin-bottom: 20px;
  }

  .carrito-item h3 {
    margin-bottom: 12px;
    color: var(--morado-oscuro);
  }

  .carrito-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    margin-bottom: 15px;
  }

  .carrito-info span {
    font-weight: 600;
    color: var(--gris-texto);
  }

  .carrito-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .total-box {
    background: var(--morado-palido);
    padding: 20px;
    border-radius: var(--radio-lg);
    text-align: center;
    margin-top: 20px;
  }

  .total-box h3 {
    margin-bottom: 10px;
  }

  .empty-cart {
    text-align: center;
    margin-top: 40px;
  }
</style>
{% endblock %}

{% block content %}
<div class="carrito-container">

<h2>Mi carrito 🛒</h2>

{% if productos %}

  {% for item in productos %}
    <div class="carrito-item">

      <h3>{{ item.producto.nombre }}</h3>

      <div class="carrito-info">
        <div><span>Valor unitario:</span> ${{ item.producto.precio }}</div>
        <div><span>Cantidad:</span> {{ item.cantidad }}</div>
        <div><span>Subtotal:</span> ${{ item.subtotal }}</div>
      </div>

      <div class="carrito-actions">
        <a href="{% url 'eliminar_carrito' item.producto.id %}" class="btn btn-danger btn-sm">
          ❌ Eliminar
        </a>
      </div>
      <td>
        <div style="display:flex; align-items:center; gap:10px; justify-content:center;">
          
          <!-- Restar -->
          <a href="{% url 'actualizar_cantidad' item.producto.id 'restar' %}" 
            class="btn btn-outline btn-sm">➖</a>

          <span style="font-weight:700;">{{ item.cantidad }}</span>

          <!-- Sumar -->
          <a href="{% url 'actualizar_cantidad' item.producto.id 'sumar' %}" 
            class="btn btn-outline btn-sm">➕</a>

        </div>
      </td>

    </div>
  {% endfor %}

  <div class="total-box">
    <h3>Total: ${{ total }}</h3>

    <a href="{% url 'generar_pedido' %}" class="btn btn-primary">
      Generar pedido 🧾
    </a>
  </div>

{% else %}

  <div class="empty-cart">
    <p>Tu carrito está vacío 😢</p>
  </div>

{% endif %}

</div>
{% endblock %}