# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Entorno virtual
venv/
env/
.env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Variables de entorno
.env
.env.local

# VS Code
.vscode/
*.code-workspace

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos estáticos generados
static_root/
